    
    <section class="descripcion"> 
        <h1><a href="{{ path('oferta',{ciudad:oferta.ciudad.slug, slug:oferta.slug}) }}"> {{oferta.nombre|upper}} </a></h1> 
        {{oferta.descripcion|mostrar_como_lista}} 
        <a class="boton" href="#">Comprar</a> 
    </section>
        
    <section class="galeria"> 
        <img alt="Fotografía de la oferta" src="{{ asset(oferta.rutaFoto, 'ofertas')}}"> 
        <p class="precio">
            {{oferta.precio}} &euro; <span>{{ descuento(oferta.precio, oferta.descuento)}}</span>
        </p> 
        <p>
            <strong>Condiciones:</strong> {{oferta.condiciones}}
        </p> 
    </section>
    <section class="estado"> 
        <div class="tiempo"> 
           {# <strong>La oferta termina: </strong>: {{oferta.fechaExpiracion |cuenta_atras}}#}
            {% trans with { '%tiempo%': oferta.fechaExpiracion|cuenta_atras } %}
                <strong>Faltan</strong>: %tiempo%
            {% endtrans %}
        </div>
        <div class="compras"> 
            <strong>Compras</strong>: {{oferta.compras}} 
        </div>
        <div class="faltan"> 
            {% set faltan = oferta.umbral - oferta.compras  %}
                {% if faltan > 0  %}
                    {# Si las compras no llegan al umbral mínimo establecido #} 
                    {% transchoice faltan with { '%faltan%' : faltan } %}
                    {1} ¡Una sola compra más activa la oferta!|
                    [1, 9] Sólo faltan %faltan% compras para activar la oferta!|
                    ]9,Inf] Faltan %faltan% compras para activar la oferta
                    {% endtranschoice %}
                {% else %}
                    {% trans with { '%compras%': oferta.umbral } %}
                        <strong>Oferta activada</strong> por superar las <strong>%compras%</strong> compras necesarias
                    {% endtrans %}
                {% endif %}
            </div> 
        </section>
        <section class="direccion">
            <h2>Disfruta de la oferta en</h2>
            <p> 
                <a href="{{ path('tienda_portada', { ciudad: oferta.ciudad.slug, tienda: oferta.tienda.slug }) }}">{{ oferta.tienda.nombre }}">{{ oferta.tienda.nombre }}</a> 
                {{ oferta.tienda.direccion }} 
            </p> 
        </section>
        <section class="tienda"> 
            <h2>Sobre la tienda</h2> 
            {{ oferta.tienda.descripcion }} 
        </section> 
        